body {
    text-align: center;
    font-family: 'Fascinate', cursive;
    background: #e39976;
}

.header_div {
    background: whitesmoke;
    color: crimson;
}
.header_div p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkcyan;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}
.main_div button{
    font-family: inherit;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer{
    position: fixed;
    color: darkolivegreen;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: darkkhaki;
    line-height: 10px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
    padding-bottom: 5px;
}